#include <os2.h>
#include "SimBlob.h"
#include "InitCode.h"

ICON ID_WINDOW       Bitmaps\Blob.ICO
BITMAP ID_WINDOW     Bitmaps\Blob.BMP
#if 0
BITMAP ID_BIGBLOB    Bitmaps\BigBlob.BMP
#endif

ACCELTABLE ID_WINDOW PRELOAD
BEGIN
  VK_F3, ID_EXITPROG, VIRTUALKEY
END

DLGTEMPLATE ID_HELP_ABOUT 
BEGIN
	DIALOG "About BlobCity", 1, 10, 19, 335, 51, 
		WS_VISIBLE | WS_SAVEBITS, 
		FCF_DLGBORDER | FCF_NOBYTEALIGN | FCF_TITLEBAR | FCF_SYSMENU
		PRESPARAMS PP_FONTNAMESIZE "8.Helv"
	BEGIN
		CONTROL "Blob", ID_SMALLBLOB, 11, 14, 28, 24, WC_STATIC, SS_BITMAP | WS_GROUP | WS_VISIBLE
		LTEXT "See http://www-cs-students.stanford.edu/~amitp/games.html for more information", 
			101, 62, 26, 238, 18, 
			SS_TEXT | DT_CENTER | 
			DT_TOP | DT_WORDBREAK | WS_VISIBLE | WS_GROUP
		DEFPUSHBUTTON "~Ok", 1, 291, 5, 36, 12
rcinclude "sb_time.rc"
		102, 
		50, 7, 235, 9, 
		SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END
END

MENU ID_WINDOW PRELOAD MOVEABLE DISCARDABLE 
BEGIN
	SUBMENU "~Game", ID_FILE
	BEGIN
		MENUITEM "E~xit", ID_EXITPROG, MIS_TEXT
	END

	SUBMENU "~Speed", ID_SPEED
	BEGIN
		MENUITEM "Slower", ID_SPEED_SLOWER, MIS_TEXT
		MENUITEM "~Slow", ID_SPEED_SLOW, MIS_TEXT
		MENUITEM "~Medium", ID_SPEED_MEDIUM, MIS_TEXT
		MENUITEM "~Fast", ID_SPEED_FAST, MIS_TEXT
		MENUITEM "Faster", ID_SPEED_FASTER, MIS_TEXT
		MENUITEM "Zoom\aFrames", ID_SPEED_FASTEST, MIS_TEXT
		MENUITEM "~Zoom\aTicks", ID_SPEED_ZOOM, MIS_TEXT
		MENUITEM SEPARATOR
		MENUITEM "Show ~details", ID_SPEED_DETAILS, MIS_TEXT
	END

	SUBMENU "~Simulation", ID_OPTIONS
	BEGIN
		MENUITEM "Drought", ID_OPTIONS_DROUGHT, MIS_TEXT
		SUBMENU "~Path", ID_PATHS
		BEGIN
			MENUITEM "~Best", ID_PATH_BEST, MIS_TEXT
			MENUITEM "~Approximate", ID_PATH_APPROX1, MIS_TEXT
			MENUITEM "Approximate ~more", ID_PATH_APPROX2, MIS_TEXT
			MENUITEM "~Fast", ID_PATH_APPROX3, MIS_TEXT
		END

		SUBMENU "~Erase", ID_SPECIAL_ERASE
		BEGIN
			MENUITEM "~All", ID_SPECIAL_ERASE_ALL, MIS_TEXT
			MENUITEM SEPARATOR
			MENUITEM "~Blobs", ID_SPECIAL_ERASE_UNIT, MIS_TEXT
			MENUITEM "~People", ID_SPECIAL_ERASE_CIV, MIS_TEXT
			MENUITEM "~Roads", ID_SPECIAL_ERASE_ROADS, MIS_TEXT
			MENUITEM "~Walls", ID_SPECIAL_ERASE_WALLS, MIS_TEXT
			MENUITEM "~Trenches", ID_SPECIAL_ERASE_CANALS, MIS_TEXT
		END

		SUBMENU "~Deity", ID_SPECIAL
		BEGIN
			MENUITEM "Rain", ID_SPECIAL_RAIN, MIS_TEXT
			MENUITEM "Flood", ID_SPECIAL_FLOOD, MIS_TEXT
			MENUITEM "Flash flood", ID_SPECIAL_FLASH_FLOOD, MIS_TEXT
			MENUITEM "Fire", ID_SPECIAL_FIRE, MIS_TEXT
			MENUITEM "Volcano", ID_SPECIAL_VOLCANO, MIS_TEXT
			MENUITEM "Build roads", ID_SPECIAL_ROADS, MIS_TEXT
		END
	END

	SUBMENU "~View", ID_VIEW, 0, MIA_NODISMISS
	BEGIN
		MENUITEM "~All", ID_VIEW_ALL_ON, MIS_TEXT
		MENUITEM SEPARATOR
		MENUITEM "~Roads", ID_VIEW_ROADS, MIS_TEXT
		MENUITEM "~Buildings", ID_VIEW_BUILDINGS, MIS_TEXT
		MENUITEM "~Structures", ID_VIEW_STRUCTURES, MIS_TEXT
		MENUITEM "~Water and trees", ID_VIEW_WATER, MIS_TEXT
		MENUITEM "~Fire and lava", ID_VIEW_FIRE, MIS_TEXT
		SUBMENU "Show debugging", ID_DEBUG
		BEGIN
			MENUITEM "~None", ID_DEBUG_NONE
			MENUITEM "~Building", ID_DEBUG_PREFS
			MENUITEM "~Heat", ID_DEBUG_HEAT
			MENUITEM "~Labor", ID_DEBUG_LABOR
			MENUITEM "~Food", ID_DEBUG_FOOD
			MENUITEM "~Moisture", ID_DEBUG_MOISTURE
		END
		MENUITEM SEPARATOR
		MENUITEM "~None", ID_VIEW_ALL_OFF, MIS_TEXT
	END

	SUBMENU "~Help", ID_HELP, MIS_HELP
	BEGIN
		MENUITEM "~About...", ID_HELP_ABOUT, MIS_TEXT
	END
END

STRINGTABLE
BEGIN
rcinclude "sb_version.rc"
END

POINTER IDP_HAND     Bitmaps\Hand.Ptr
POINTER IDP_BUILD    Bitmaps\Build.Ptr

#if INIT_BITMAPS==7
BITMAP ID_SMALLBLOB  Bitmaps\SmallBlob.BMP
BITMAP ID_BACKGROUND Bitmaps\Background2.BMP
#endif

#if INIT_BITMAPS==13
BITMAP ID_FONTS      Bitmaps\HersheyFont.BMP
BITMAP ID_FONTS_I    Bitmaps\HersheyFontI.BMP
#endif

#if INIT_BITMAPS
BITMAP IDB_PINK      Bitmaps\HexBorder.BMP
BITMAP IDB_MARKED    Bitmaps\HexMark.BMP

BITMAP IDB_MASK      Bitmaps\HexMask.BMP
BITMAP IDB_TILE      Bitmaps\HexTile.BMP

BITMAP IDB_TOWER     Bitmaps\HexTower.BMP
BITMAP IDB_TREES     Bitmaps\HexTrees.BMP
BITMAP IDB_FIRE1     Bitmaps\HexFire1.BMP
BITMAP IDB_FIRE2     Bitmaps\HexFire2.BMP
BITMAP IDB_CANAL     Bitmaps\HexCanal.BMP
BITMAP IDB_LAVA      Bitmaps\HexLava.BMP
BITMAP IDB_SCORCHED  Bitmaps\HexScorched.BMP
BITMAP IDB_CLEAR     Bitmaps\HexClear.BMP
BITMAP IDB_GATE      Bitmaps\HexGate.BMP
BITMAP IDB_WALL      Bitmaps\HexWall.BMP
BITMAP IDB_BRIDGE    Bitmaps\HexBridge.BMP
BITMAP IDB_HAND      Bitmaps\Hand.BMP
BITMAP IDB_MARKET    Bitmaps\HexMarket.BMP
#endif

#if 0
BITMAP IDB_FARM      Bitmaps\HexFarm.BMP
BITMAP IDB_WATER1    Bitmaps\Hex1Water.BMP
BITMAP IDB_WATER2    Bitmaps\Hex2Water.BMP
BITMAP IDB_WATER3    Bitmaps\Hex3Water.BMP
BITMAP IDB_WATER4    Bitmaps\Hex4Water.BMP
BITMAP IDB_WATER5    Bitmaps\Hex5Water.BMP
BITMAP IDB_WATER6    Bitmaps\Hex6Water.BMP

BITMAP IDB_ROADTILES     Bitmaps\RoadTiles.BMP
BITMAP IDB_ROADMASKS     Bitmaps\RoadMasks.BMP
BITMAP IDB_WALLTILES     Bitmaps\WallTiles.BMP
BITMAP IDB_WALLMASKS     Bitmaps\WallMasks.BMP
BITMAP IDB_HOUSETILES    Bitmaps\HouseTiles.BMP
BITMAP IDB_HOUSEMASKS    Bitmaps\HouseMasks.BMP
BITMAP IDB_TERRAINTILES  Bitmaps\Terrains.BMP
BITMAP IDB_WATERTILES    Bitmaps\WaterTiles.BMP
BITMAP IDB_WATERMASKS    Bitmaps\WaterMasks.BMP

BITMAP IDB_NEWWATERTILES Bitmaps\NewWaterTiles.BMP
#endif

#if INIT_BITMAPS
BITMAP IDB_NEWWATERMASK  Bitmaps\NewWaterMask.BMP
BITMAP IDB_SOLDIER       Bitmaps\Soldier.BMP
BITMAP IDB_WORKER        Bitmaps\Worker.BMP
BITMAP IDB_FIREFIGHTER   Bitmaps\FireFighter.BMP
#endif

MENU ID_CONTEXT_MAP PRELOAD MOVEABLE DISCARDABLE
BEGIN
	MENUITEM "Nothing Yet", ID_CONTEXT_MAP, MIS_TEXT
END

MENU ID_CONTEXT_WORLD PRELOAD MOVEABLE DISCARDABLE
BEGIN
        MENUITEM "View Normal", ID_WORLD_VIEW_NORMAL, MIS_TEXT
        MENUITEM "View Terrain", ID_WORLD_VIEW_TERRAIN, MIS_TEXT
        MENUITEM "View Civilization", ID_WORLD_VIEW_CIV, MIS_TEXT
END
